body{
    font-family: 'Noto Sans KR', sans-serif;
    width: 1440px;
    height: auto;
}

header.inner {
    padding: 0 9rem;
}

/* ------------------header----------------------- */
header {
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
    height: 4rem;
    z-index: 10;
    border-bottom: 1px solid gray;
}

header a {
    text-decoration-line: none;
    color: black
}

header .inner {
    height: 100%;
}

header #container {
    display: flex;
    height: 40px;
    width: 100%;
    left: 0;
    align-items: center;
    padding: 0.5rem;
}

header #container nav {
    height: 100%;
    display: flex;
    align-items: center; 
    width: 100%;   
}

header #container nav > ul{
    margin-left: 40px;
}

header #container nav > ul > li {
    display: inline-block;
    padding: 0 0.5rem;
}

header span {
    font-weight: 600;
}

header #myPage {
    width: 100px;
    float: right;
}

main{
    width: 80%;
    margin: 0 auto;
}

.big_categori>p{
    padding: 10px 0 10px 20px;
    font-size: 15pt;
    font-weight: bolder;
}
.big_Wsport{
    padding: 2%;
    display: grid;
    /* padding-left: 50px; */
    /* padding-right: 50px; */
    width:100%;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content:space-between;
}
.big_Wsport_element{
    display: grid;
    width: 300px;
    height: 250px;
    cursor: pointer;
    justify-content:space-around;
    border: 0.5px solid gray;
    border-radius: 5%;
    margin: 10px;
    /* background-color: #ffffff; */
}

.big_Wsport_img{
    display: grid;
    width: 300px;
    height:180px;
    border-radius: 5%;
}
.big_Wsport_explain{
    display: grid;
    width: 300px;
    height:70px;

}
.big_Wsport_name{
    display: grid;
    padding: 10px 0 0 10px;
    width: 300px;
    height: 20px;
}
.big_Wsport_name>p{
    font-size: 500pt;
}
.big_Wsport_hash {
    display: grid;
    padding: 5px 0 0 10px;
    width: 300px;
    height: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow:row dense;
    font-size: 10pt;
}
/* .big_Wsport_hash{
    display: grid;
    padding: 10px 0 0 5px;
    width: 300px;
    height: 70px;
}
.big_Wsport_hash>p{
    font-size: 20pt;
} */
